<template>
	<OvalTextBox :icon="'search.svg'" @input="inputHandler" />
</template>

<script>
import OvalTextBox from '../OvalTextBox/OvalTextBox';
export default {
	components: {
		OvalTextBox,
	},
	methods: {
		inputHandler(event) {
			this.$emit('input', event);
		},
	},
};
</script>
