<template>
	<b-container>
		<b-row class="mt-5 mb-3 justify-content-md-left">
			<SearchBox @input="searchInputHandler" />
		</b-row>
		<b-row>
			<b-col xl="12" md="12">
				<RavenGrid :ravenData="ravenData" />
			</b-col>
		</b-row>
		<b-row class="justify-content-md-center mt-5 mb-5">
			<LazyLoadRavens />
		</b-row>
	</b-container>
</template>

<script>
import { EventBus } from '../../EventBus';
import RavenGrid from '../../components/RavenGrid.vue';
import SearchBox from '../../components/SearchBox/SearchBox.vue';
import LazyLoadRavens from '../../components/LazyLoadRavens/LazyLoadRavens.vue';

import ravenData from '../../placeholders/RavenData.js';
export default {
	data() {
		return {
			searchInput: '',
			ravenData: [],
		};
	},
	components: {
		RavenGrid,
		SearchBox,
		LazyLoadRavens,
	},
	methods: {
		searchInputHandler(value) {
			this.searchInput = value;
		},
		searchRavens(query) {
			EventBus.$emit('searchQuery', query);
		},
	},
	watch: {
		searchInput: {
			handler: function(val) {
				this.searchRavens(val);
			},
		},
	},
	created() {
		this.ravenData = [...ravenData];
	},
};
</script>
