<template>
	<div class="oval-text-box">
		<img
			class="oval-text-box--icon"
			:src="resolveSvgPath(icon)"
			alt="Search"
		/>
		<input
			type="text"
			class="oval-text-box--input"
			v-model="input"
			:placeholder="placeholder"
			:style="{ width: width, height: height }"
		/>
	</div>
</template>

<script>
// import { EventBus } from '@/EventBus.js';
export default {
	data() {
		return {
			input: '',
		};
	},
	props: {
		placeholder: {
			type: String,
			default: 'Search a raven',
		},
		width: {
			type: String,
			default: '200px',
		},
		height: {
			type: String,
			default: '36px',
		},
		icon: {
			type: String,
		},
	},
	methods: {
		resolveSvgPath(path) {
			let icons = require.context(
				'../../SVG/',
				false,
				/\.svg$|\.jpg$|\.png$/
			);
			return icons('./' + path);
		},
	},
	watch: {
		input: {
			handler: function(val, oldVal) {
				if (val !== oldVal) {
					this.$emit('input', this.input);
				}
			},
		},
	},
};
</script>

<style lang="scss" scoped>
.oval-text-box {
	border: 1px solid $grey;
	border-radius: 20px;
	font-size: 1rem;
	padding: 0 15px;

	.oval-text-box--icon {
		margin: 0 10px 0 0;
		color: $light-blue;
	}

	.oval-text-box--input {
		border: none;
		-webkit-appearance: none;
		outline: none;
		color: $light-blue;

		&::placeholder {
			color: $light-blue;
		}
	}
}
</style>
