<template>
	<muuri-grid
		id="raven-grid"
		:options="options"
		ref="muuriGrid"
		@layoutEnd="handleLayoutEnd"
	>
		<template
			v-for="{ id, title, numberOfImages, backgroundImage } in ravenData"
		>
			<RavenCard
				:key="id"
				:id="id"
				:title="title"
				:numberOfImages="numberOfImages"
				:classes="['dashboard--raven-card', 'item']"
				:backgroundImage="backgroundImage"
			/>
		</template>
	</muuri-grid>
</template>

<script>
import { EventBus } from '../EventBus';
import RavenCard from './RavenCard.vue';
export default {
	data() {
		return {
			options: {
				horizontal: true,
				dragEnabled: true,
			},
		};
	},
	components: {
		RavenCard,
	},
	props: {
		ravenData: {
			type: Array,
		},
	},
	mounted() {
		EventBus.$on('searchQuery', (value) => {
			this.$refs.muuriGrid.grid.filter(
				(item) => {
					return item
						.getElement()
						.querySelector('.dashboard--raven-card--title')
						.innerHTML.toLowerCase()
						.includes(value.toLowerCase());
				},
				[true]
			);
		});
	},
	methods: {
		handleLayoutEnd(event) {
			const ravenOrder = [];
			event.forEach((card) => {
				ravenOrder.push(+card._element.id.split('-')[1]);
			});
			console.log(ravenOrder);
			this.sortRavens(ravenOrder, this.ravenData);
		},
		sortRavens(order, ravens) {
			const sortedRavens = [];
			order.forEach((orderId, index) => {
				sortedRavens[index] = {
					...ravens[ravens.findIndex((raven) => raven.id == orderId)],
				};
			});
			this.updateOrder(sortedRavens);
		},
		updateOrder(sortedRavens) {
			// Update order of ravens on backend
			console.log(sortedRavens);
		},
	},
};
</script>

<style lang="scss">
.dashboard--raven-card {
	width: 280px;
	height: 183px;
	border-radius: 10px;
}
</style>
