<template>
	<item-sm
		:id="`raven-${id}`"
		:class="classes"
		:width="'280px'"
		:height="'183px'"
		:style="{
			background: 'center url(' + backgroundImage + ')',
		}"
	>
		<div class="dashboard--raven-card--container">
			<raven-title>
				<p class="dashboard--raven-card--title">{{ title }}</p>
			</raven-title>
			<raven-card-cirle
				:bordered="true"
				:classes="'raven-card--circle--add'"
			>
				<img src="../SVG/add.svg" alt />
			</raven-card-cirle>

			<raven-card-cirle
				:bordered="true"
				:classes="'raven-card--circle--delete'"
			>
				<img src="../SVG/delete.svg" alt />
			</raven-card-cirle>

			<raven-card-cirle
				:bordered="false"
				:classes="'raven-card--circle--number-of-images'"
			>
				<span>{{ numberOfImages }}</span>
			</raven-card-cirle>

			<raven-card-cirle
				:bordered="true"
				:classes="'raven-card--circle--settings'"
			>
				<img src="../SVG/gear.svg" alt />
			</raven-card-cirle>
		</div>
	</item-sm>
</template>

<script>
import { ItemSm } from 'vue-muuri';
import RavenTitle from './RavenTitle.vue';
import RavenCardCirle from '../components/RavenCardCirle.vue';
export default {
	components: {
		ItemSm,
		RavenCardCirle,
		RavenTitle,
	},
	props: {
		id: {
			required: true,
			type: Number,
		},
		title: {
			required: true,
			type: String,
			default: '',
		},
		numberOfImages: {
			required: true,
			type: Number,
			default: 0,
		},
		classes: {
			type: Array,
		},
		backgroundImage: {
			type: String,
			required: false,
		},
	},
};
</script>

<style lang="scss">
.dashboard--raven-card--container {
	position: relative;
	height: 183px;
}

.raven-card--circle--add {
	position: absolute;
	top: 0.6rem;
	left: 0.6rem;
}

.raven-card--circle--delete {
	position: absolute;
	top: 0.6rem;
	right: 0.6rem;
}

.raven-card--circle--number-of-images {
	position: absolute;
	right: 0.6rem;
	top: 50%;
	transform: translateY(-50%);
	color: $white;
}

.raven-card--circle--settings {
	position: absolute;
	bottom: 0.6rem;
	right: 0.6rem;
}
</style>
