<template>
	<div>
		<slot></slot>
	</div>
</template>

<style lang="scss">
.dashboard--raven-card--title {
	position: absolute;
	bottom: 0.3rem;
	left: 0.4rem;
	color: $white;
	width: 100%;
}
</style>
