<template>
	<div id="app">
		<the-dashboard />
	</div>
</template>

<script>
import TheDashboard from './views/TheDashboard/TheDashboard.vue';
export default {
	components: {
		TheDashboard,
	},
};
</script>

<style lang="scss">
#app {
	font-family: 'Lato', sans-serif;
}
</style>
